$primary-color:  rgba(71, 158, 125, 0.336);
$secondary-color: #479E7C;

$color1: #F9C0BC;
$color2: #D3FACA;
$color3:#9AAD95;
$color4: #72ADAC;
$color5:#B1FAF8;
$blue:#5954eb;
$pink:#e64c77;
$yelow:#f8ff24;